**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/.DS_Store
**/Thumbs.db
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/instance
.git
.gitignore
.env
.env.*
